{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Bienvenue sur le site du club de Pleine-Fougères !</h1>


    <h2>Dernières actualités :</h2>

    <section>
        <h3>Titre de l'article</h3>
        <p>Contenu de l'article Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequatur explicabo laboriosam maiores sed sint, tempora vitae. Beatae
            blanditiis distinctio error fugiat, ipsum, minus nostrum perspiciatis quod
            sequi soluta veniam voluptatem.</p>
    </section>



{% endblock %}
