{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Bienvenue sur le site du club de Pleine-Fougères !</h1>


    <section>
        <h2>Le club :</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam
            commodi ea eius iste nam non quia recusandae voluptates. Adipisci asperiores
            cum nulla quasi quod sed unde voluptatem voluptates!</p>


    </section>







    <section>
        <h2>Dernières actualités :</h2>
        <article>
            <h3>Titre de l'article</h3>
            <p>Contenu de l'article Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur explicabo laboriosam maiores sed sint, tempora vitae. Beatae
                blanditiis distinctio error fugiat, ipsum, minus nostrum perspiciatis quod
                sequi soluta veniam voluptatem.</p>
        </article>
    </section>





{% endblock %}
