{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1 class="home-title">Bienvenue sur le site du club de Pleine-Fougères !</h1>


    <div class="home-sections">
        <section
                class="home-section">
            <h2>Le club :</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam
                commodi ea eius iste nam non quia recusandae voluptates. Adipisci asperiores
                cum nulla quasi quod sed unde voluptatem voluptates!</p>
            <img
                    class="home-img_club"
                    src="{{ asset('images/image-club.jpg') }}" alt="photo du club">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
                asperiores debitis delectus dignissimos dolor dolore, doloremque,
                doloribus esse est explicabo fugiat minima nihil non numquam omnis
                quas, qui repellat voluptas?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                aspernatur assumenda consequuntur, distinctio eius exercitationem facere
                incidunt ipsa iste numquam officiis perferendis quae quis reiciendis rem
                totam vel velit veniam!
            </p>
        </section>



        <section
                class="home-section">
            <h2>Dernières actualités :</h2>
            <article>
                <h3>Titre de l'article</h3>
                <p>Contenu de l'article Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur explicabo laboriosam maiores sed sint, tempora vitae. Beatae
                    blanditiis distinctio error fugiat, ipsum, minus nostrum perspiciatis quod
                    sequi soluta veniam voluptatem.</p>
            </article>
            <article>
                <h3>Titre de l'article</h3>
                <p>Contenu de l'article Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur explicabo laboriosam maiores sed sint, tempora vitae. Beatae
                    blanditiis distinctio error fugiat, ipsum, minus nostrum perspiciatis quod
                    sequi soluta veniam voluptatem.</p>
            </article>
            <article>
                <h3>Titre de l'article</h3>
                <p>Contenu de l'article Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Consequatur explicabo laboriosam maiores sed sint, tempora vitae. Beatae
                    blanditiis distinctio error fugiat, ipsum, minus nostrum perspiciatis quod
                    sequi soluta veniam voluptatem.</p>
            </article>
            <div>
                <a href="">Voir tout les articles</a>
            </div>
        </section>

    </div>

    <section>
        <h2 class="home-title-sponsor">Ils nous soutiennent : </h2>
    </section>






{% endblock %}
