{% extends 'base.html.twig' %}

{% block title %}Hello MemberAreaController!{% endblock %}

{% block body %}


<h2>Bonjour {{ user.username }}!</h2>

    <nav>
        <ul>
            <li
                    class="member-menu-li">
                <a href="{{ path('app_add_article') }}">Ajouter un article</a>
            </li>

            <li
                    class="member-menu-li">
                <a href="">Gestion des utilisateurs</a>
            </li>

            <li
                    class="member-menu-li">
                <a href="">Ajouter un circuit</a>
            </li>

            <li
                    class="member-menu-li">
                <a href="">Ajouter une organisation</a>
            </li>

            <li
                    class="member-menu-li">
                <a href="">Ajouter un sponsor</a>
            </li>

            <li
                    class="member-menu-li">
                <a href="{{ path('app_private_article') }}">Voir les articles privés</a>
            </li>

            <li
                    class="member-menu-li">
                <a href="">Les circuits</a>
            </li>

            <li
                    class="member-menu-li">
                <a href="">Photos</a>
            </li>
        </ul>
    </nav>




{% endblock %}
