{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <section>
        <h2>Contact :</h2>
        <p>Pour une demande d'informations, vous pouvez nous contacter via le formulaire ci dessous.</p>
    </section>

{% endblock %}
