
<header>
    <h1 class="home-title-club">Nom du club</h1>

    <nav>
        <ul
                class="nav-menu-ul">
            <li
                    class="nav-menu-li">
                <a href="">Accueil</a>
            </li>

            <li
                    class="nav-menu-li">
                <a href="">Article</a>
            </li>

            <li
                    class="nav-menu-li">
                <a href="">Organisations</a>
            </li>

            <li
                    class="nav-menu-li">
                <a href="">Presentation</a>
            </li>

            <li
                    class="nav-menu-li">
                <a href="">Liens utiles</a>
            </li>

            <li
                    class="nav-menu-li">
                <a href="">Espace adhérents</a>
            </li>

            <li
                    class="nav-menu-li">
                <a href="">contact</a>
            </li>

        </ul>
    </nav>
</header>
