{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <h2>Nos dernières actualités : </h2>
    <div>
        <section>
            <h3>Titre de l'article</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi id
                incidunt quae quia repellendus! Blanditiis et eum ex expedita nulla
                possimus reprehenderit saepe veniam vitae voluptatibus? Ab numquam
                perferendis quisquam.</p>
        </section>
    </div>
{% endblock %}
