{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <h2>Nos dernières actualités : </h2>
    <div>
        <section
                class="home-section">
            <h2>Dernières actualités :</h2>
            <article>
                {% for article in articles %}
                    {% if article.public %}
                        <h3>{{ article.title}}</h3>
                        <p>{{ article.content}}</p>
                    {% endif %}
                {% endfor %}
        </section>
    </div>
{% endblock %}
